/* - tablet: 768px */
@media screen and (min-width: 780px) {
    .container {
        width: 90%;
    }
#demo-app{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
    .col-demo {
        width: 28%;
    }
    .col-demo:first-child{
        width: 63%;
    }
    #benefit {
        justify-content: space-between;
    }
    .col-benefit {
        width: 45%;
    }
}

/* - desktop: 992px */
@media screen and (min-width: 992px) {

    .container {
        width: 70%;
    }

    .button-menu {
        display: none;
    }
    
    .list-menu {
        display: flex;
    }
    #strategic-plannig {
        flex-wrap: nowrap;
    }
    .col-benefit {
        width: 28%;
    }
}