/* - tablet: 768px */
@media screen and (min-width: 780px) {
    .container {
        width: 90%;
    }

    #demo-app {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }

    .col-demo {
        width: 28%;
    }

    .col-demo:first-child {
        width: 62%;
    }
  .position-demo-app{
    width: 50%;
  }
    #benefit {
        justify-content: space-between;
    }

    .col-benefit {
        width: 45%;
    }

    #about {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .container-footer {
        width: 60%;
    }

    .col-about:first-child {
        width: 60%;
    }
    .col-about:last-child {
        width: 30%;
    }
    .col-testimonial{
        flex-direction: row;
        justify-content: space-between;
    }
    .card-text{
        width: 80%;
    }
}


/* - desktop: 992px */
@media screen and (min-width: 992px) {

    .container {
        width: 70%;
    }
    .conteiner-desktop{

        width: 70%;
    }
 .container-plannig{
    justify-content: center;
align-items:flex-start;
    width: 70%;
    flex-wrap: nowrap;
}
#strategic-plannig{
    justify-content: center;
}
#strategic-plannig .col-plannig:last-child{
    margin-top: 200px;
}
    .button-menu {
        display: none;
    }
    .flex-demo-app{
        display: flex;
        flex-wrap: nowrap;
      }

    .list-menu {
        display: flex;
    }

    #strategic-plannig {
        flex-wrap: nowrap;
        align-items: flex-end;
    }

    .col-benefit {
        width: 28%;
    }

    .container-footer {
        width: 40%;
    }
.col-plannig{
    width: 50%;justify-content: space-between;
}

}