/* rest */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
    list-style-type: none;
}

img {
    max-width: 100%;
}

/* variables */
:root {
    --azure: #2484FD;
    --white: #ffffff;
    --light-azure: #B5DDFF;
    --fuchsia: #9792E4;
    --black: #000000;
    --strong-gray: #333333;
    --gray-text: #5A6E7F;
}

/* Utility */
.flex {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
.flex-col {
    flex-direction: column;
}
.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}
/* Toolbar Nav */
#nav {
    background-color: var(--azure);
    width: 100%;
    height: 55px;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.button-menu {
    font-size: 1.8rem;
    color: var(--white);
}

.menu {
    display: flex;

}

.list-menu {
    display: none;
}

.list-menu ul {
    color: var(--white);
    gap: 10px;
}
/* Section demo app */
#demo-app {
    padding-top: 70px; 

}
#demo-app h3{
    color: var(--azure);
    font-size: clamp(1rem, 0.3rem + 2.5vw, 3rem);
    font-weight:bold;
    padding:10px;
}
#demo-app p {
    text-align: center;
    font-weight:bold;
    padding-top: 15px;
    color: var(--gray-text);
    font-size: clamp(1rem, 0.3rem + 1vw, 3rem);
}
#demo-app img {
    padding-top: 15px;
    margin-bottom: -15px;
}
.card{
   
    padding:15px;
    text-align: center;

}
.col-demo {
    background-color: var(--light-azure) ;
    margin:15px;
    border-radius: 15px; width: 100%;
    height: 100%;
    
}
/* Section strategic plannig */
#strategic-plannig, #benefit {
    display:flex;
    flex-wrap: wrap;
    background-color: var(--fuchsia);
}

.col-plannig {
    width: 100%;
    margin:15px;
    border-radius: 15px;
    /* debug */
    height:100px;
}
.col-plannig:last-child {
    background-color: var(--white);
    
}
/* Section testimonial */
#testimonial, #about {
    display: flex;
    flex-wrap: wrap;
}
.col-testimonial {
    background-color: var(--fuchsia);
    width: 100%;
    margin:15px;
    border-radius: 15px;
        /* debug */
        height:100px;
}
/* Section benefit */
.col-benefit {
    background-color: var(--white);
    width: 100%;
    margin:15px;
    border-radius: 15px;
        /* debug */
        height:100px;
}
/* section abaout */
.col-about {
    width: 100%;
    margin:15px;
        /* debug */
        height:100px;
        background-color: #2484FD;
        border: 3px solid red;
}
/* sectionget star */
#get-star {
    background-color: var(--fuchsia);
        /* debug */
        height:100px;
}
#footer {
    background-color: var(--strong-gray);
        /* debug */
        height:100px;
}
.container-footer{
    width: 100%;
    display: flex;
    justify-content: center;

}