/* rest */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
    list-style-type: none;
}

img {
    max-width: 100%;
}

/* variables */
:root {
    --azure: #2484FD;
    --white: #ffffff;
    --light-azure: #B5DDFF;
}

/* Utility */
.flex {
    display: flex;
}
.container {
    width: 100%;
    margin: 0 auto;
}
/* Toolbar Nav */
#nav {
    background-color: var(--azure);
    width: 100%;
    height: 55px;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.button-menu {
    font-size: 1.8rem;
    color: var(--white);
}

.menu {
    display: flex;

}

.list-menu {
    display: none;
}

.list-menu ul {
    color: var(--white);
    gap: 10px;
}
/* Section demo app */
#demo-app {
    padding-top: 70px; 

}
.col-demo {
    background-color: var(--light-azure) ;
    width: 100%;
    margin:15px;
    border-radius: 15px;
    /* debug */
    height:100px;
}
/* Section strategic plannig */